<div class = "question-list">
 <div class="question-contents">
  <% @questions.each do |question| %>
  <div class="post-content">
   <div class="comment">
    <div class="comment-count">0</div>
    <div class="comment-label">comments</div>
   </div>
  <div class="question">
   <div class="question-top">
    <div class="question-title"><%= link_to question.title, question_path(question.id)%></div>
    <div class="questioner"><%= question.name%></div>
    </div>
    <div class="question-content"><%= question.content%></div>
   </div>
  </div>
  <% end %>
 </div>
</div>