/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

/*ヘッダー共通部分*/
header{
background-color: #1c3677;
height: 65px;
display: flex;
justify-content: space-between;
align-items: center;
}

.heder-title{
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 1.8px;
  color: #ffffff;
  margin-left: 20px;
}

.question-button{
color: #3a3736;
height: 32px;
width: 80px;
border-radius: 5px;
background-color: #ffffff;
margin-right: 20px;
text-align: center;
}

.question-button a{
  line-height: 32px;
  font-size: 16px;
  text-decoration: none;
  color: #3A3736;
}

/*質問一覧メイン*/
.question-list{
 background-color: #f2f2f3;
 height: calc(100% - 65px);
 padding: 90px 0;
}

.question-contents{
  width: 700px;
  margin: 0 auto;
}

.post-content{
  display: flex;
  height: 100px;
  margin-bottom: 25px;
  
}

/*質問一覧左側*/
.comment{
  background-color: #1c3667;
  text-align: center;
  width: 70px;
  padding-top: 20px;
  border-radius: 5px 0 0 5px;
}

.comment-count{
  font-size: 26px;
  color: #ffffff;
  height: 38px;
}

.comment-label{
  font-size: 11px;
  color: #ffffff;
  height: 16px;
}

/*質問一覧右側*/
.question{
  background-color: #ffffff;
  padding: 10px 15px;
  width: 630px;
}

.question-top{
  display: flex;
  justify-content: space-between;
}

.question-title{
  font-size: 14px;
  width: 500px;
}

.questioner{
  font-size: 12px;
text-align: center;
}

.question-content{
  font-size: 12px;
  margin-top: 10px;
}